footer
  nav
    ul
      li
        a(href='/') Biuro podr&oacute;&zdot;y, 2022
      li
        a(href='/') O firmie
      li
        a(href='/') Polityka prywatno&sacute;ci
      li
        a(href='/') Kontakt
