doctype html
head
  title Rezerwacja
  link(rel='stylesheet' href='/styling.css')
.reservation-page
  include header.pug
  form#form
    label(for='name') Imi&eogon;:
    br
    input#name(type='text' name='name' value='')
    br
    label(for='surname') Nazwisko:
    br
    input#surname(type='text' name='surname')
    br
    br
    p Cena: #{trip.price}
  include footer.pug
script(src='validation.mjs')
