body {
    background-color: whitesmoke;
    font-size: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none; 
}

a:hover {
    color: rgb(18, 110, 106);
}

div a {
    color: rgb(36, 138, 107);
}

header, footer {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: -10px;
    max-width: 1920px;
}

header {
    background-image: linear-gradient(180deg, rgb(102, 173, 190), whitesmoke);
}

footer {
    background-image: linear-gradient(0deg, rgb(102, 173, 190), whitesmoke);
}

@media screen and (min-width:700px) {
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
}

nav a {
    word-wrap: normal;
    display: inline-block;
    color: rgb(105, 87, 87);
}

#back, #book {
    border: 2.5px solid rgb(102, 173, 190);
    border-radius: 10%;
    padding: 7.5px;
    font-size: 20px;
}

#logo {
    width: 6vh;
    height: auto;
    float: left;
    margin-left: 2vw;
    margin-top: 2vh;
}

#info-list {
    list-style-type: "-";
}

.trip {
    font-size: 20px;
}

.trip > img {
    width: 500px;
    height: auto;
    margin-left: 30px;
    margin-right: 40px;
    float: left;
    margin-top: 1.5vh;
}

.description {
    margin-bottom: 2vh;
}

.main-info {
    margin-left: 5%;
}

.navigation {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

#offers {
    margin: 35px;
}

.preview {
    display: flex;
    justify-content: start;
}

.preview div {
    margin-left: 50px;
    margin-top: -50px;
}

.preview img {
    width: 16vw;
    height: auto;
    margin-top: 20px;
}

.preview-text {
    font-size: 18px;
    padding-top: 50px;
}

@media screen and (min-width: 600px) {
    #main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    #main {
        display: flex;
        flex-direction: column;
    }

    #tips {
        display: none;
    }
}

.promotions * {
    font-size: 0.6em
}

.promotions p {
    margin: -1px;
}

.promotions h4 {
    margin-bottom: -1px;
}

#tips {
    margin-top: 30px;
    font-size: 0.6em
}

.listed-info {
    display: flex;
    flex-direction: row;
}

.important {
    margin-right: 200px;
}

#sidebar {
    margin-right: 50px;
}

form div i {
    position: absolute;
    padding: 10px;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}